<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collection.sanjivani">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name=".OrderInformationActivity" />
        <activity android:name=".MyOrdersActivity" />
        <activity android:name=".UploadPrescriptionActivity" />
        <activity
            android:name=".DeliveryDetailsActivity"
            android:parentActivityName=".PlaceOrderActivity" />
        <activity
            android:name=".PlaceOrderActivity"
            android:parentActivityName=".CartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchDrugActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".CartActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".DrugInformationActivity"
            android:parentActivityName=".SearchDrugActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".CaptureUserInformation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PhoneLoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>